.app {
  // border: 2px solid white;
  font-family: 'Urbanist', sans-serif;
  margin: auto;
  max-width: 1000px;
  min-height: 200px;
  text-align: center;

  .content {
    color: white;
    height: 100%;
    margin: auto;
    max-width: 950px;
    padding-top: 20px;
    position: relative;
    top: -20px;
  }
}
