.content {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  a, a:link, a:visited, a:hover, a:active {
    background: #390052;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
  }

  h1 {
    font-size: 60px;
    margin: 0 auto;
  }
}